:root {  	
	--green: #539F44;  	
	--blue-primary: #1F62AE;  	
	--blue-secondary: #3E91C5;
	--call-to-action-blue:#7BB2CF;
	--send-button-blue:#5377A4;  	
	--light-grey: #DEDEDE;  	
	--medium-grey: #7C7C7C;  	
	--dark-grey: #4D4D4D;  	
	--linkedin-blue: #0077B5;  	
	--facebook-color: #3B5998;  	
	--twitter-color: #00ACED;
}

* {
	margin: 0;  	
	padding: 0;  	
	box-sizing: 	
	border-box;
}

body {  	
	margin: 0;
}

header {  	
	width: 100%;  	
	background-color: var(--light-grey);  	
	position: fixed;  	
	top: 0;  	
	left: 0;  	
	margin: 0;  	
	height: 5.125em; /* 82px */  	
	z-index: 5;
}

.logo {  	
	display: inline-block;  	
	width: 50%;  	
	font-size: 1.5em; /* 24px/16 = 1.5em */  	
	line-height: 3.4em; /* 5.125em/1.5  */  	
	padding-left: 2.5em; /* 60px */  	
	font-family: 'Kanit', sans-serif;  	
	font-weight: bolder;  	
	text-transform: uppercase;
}

nav {  	
	display: inline-block;  	
	width: 50%;  	
	vertical-align: middle;  	
	text-align: right;  	
	padding-right: 3.125em; /* 50px */  	
	font-family: "Geneva", Tahoma, Arial, serif;
}

footer {  	
	width: 100%;  	
	background-color: white;  	
	position: fixed;  	
	bottom: 0;  	
	left: 0;  	
	height: 6.25em; /* 100px */  	
	z-index: 5;
}

#codeninja-credit {  	
	width: 50%;  	
	display: inline-block;  	
	padding-left: 25px;  	
	position: absolute;  	
	top: 50%;  	
	left: 0;  	
	transform: 	
	translateY(-50%);  	
	font-family: "Geneva", Tahoma, Arial, serif;
}

#codeninja-credit img {  	
	vertical-align: middle;  	
	margin-right: 0.75em; /* 12px */
}

#social-media {  	
	width: 50%;  	
	display: inline-block;  	
	text-align: right;  	
	padding-right: 2em; /* 32px */  	
	position: absolute;  	
	top: 50%;  	
	right: 0;  	
	transform: 	translateY(-50%);
}

#social-media .fa {  	
	margin-left: 0.375em; /* 12px --> 12/16/2 (.fa fontsize = 2em)*/
}

.fa-linkedin-square {  	
	color: var(--linkedin-blue);
}

.fa-facebook-official {  	
	color: var(--facebook-color);
}

.fa-twitter {  	
	color: var(--twitter-color);
}

h1 {  	
	color: var(--blue-primary);  	
	font-family: "Candara", "Optima", Times, sans-serif;
}

h2 {  	
	color: var(--dark-grey);  	
	margin:0;
}

p {  	
	color: var(--blue-primary);
}

a {  
	color: var(--medium-grey); 
	text-decoration: none;
	margin-left: 20px;
}  

#banner {   	
	margin-top: 5.125em; /* 82px */   	
	padding-top: 3.5em; /* 56px */   	
	height: 18em; /* 288px */ 
}  

#banner h1, #banner p {   	
	margin-left: 64px; /* leave at px, so it is the always 64px */   	
	font-family: "Helvetica Neue", Tahoma, Arial, serif; 
}  

#banner h1 {   	
	font-size: 3em; /* 48px/16 = 3em */   	
	font-weight: 500; 
}  

#banner p {   	
	font-size: 1em; /* 16px/16 = 1em */   	
	font-weight: 400; 
}  

#banner img {   	
	position: absolute;   	
	top: 7em; /* 112px */   	
	right: 3em /* 48px */ 
}  

#call-to-action {   	
	background-color: var(--call-to-action-blue);   	
	height: 18em; /* 288px */   	
	margin-bottom: 6.25em; /* 100px */ 
}  

#call-to-action .button-container {   	
	position: relative;  
	width: 100%;   	
	text-align: center;  
	top: 50%;   	
	transform: translateY(-50%); 
}  

#call-to-action .content-container {   	
	position: relative;   	
	width: 100%;  	
	padding-left: 80px;   	
	top: 50%;   	
	transform: translateY(-50%);   	
	text-align: left; 
}  

#call-to-action a {   	
	margin: 0 3%;   	
	display: inline-block;   	
	text-align: center; 
}  

#call-to-action a p {   	
	color: white;   	
	margin-top: 0.625em; /* 10px */   	
	font-family: "Helvetica Neue", Tahoma, Arial, serif; 
}  

#call-to-action .textbox {   	
	position: absolute;   	
	left: 350px; /* image width: 188px + call-to-action padding: 80px additional spacing */   	
	right: 10%;   	
	top: 50%;   	
	transform: translateY(-50%);   	
	text-align: left; 
}  

#call-to-action .textbox h2, #call-to-action .textbox h3, #call-to-action .textbox p {   	
	color: white;   	
	font-family: 'Lucida Grande', Verdana, sans-serif;   	
	font-weight: 100;  
	margin-bottom: 0.5em; 
}  

#call-to-action .textbox h2 {   	
	font-size: 2.25em; /* 36px */ 
}  

#call-to-action .textbox h3 {   	
	font-size: 1.5em; /* 24px */ 
}  

#call-to-action .textbox p {   	
	font-size: 1em; /* 16px */   	
	line-height: 1.5em; 
}  

#button-portfolio, #button-blog, #button-about-me {   	
	width: 188px;    /* leave as px, we always want them to be 188px */   	
	height: 188px;   /* leave as px, we always want them to be 188px */   	
	background-repeat: no-repeat;   	
	background-position: center; 
}  

#button-portfolio {   	
	background-image: url("../images/btn_portfolio.png"); 
}  

#button-blog {   	
	background-image: url("../images/btn_blog.png"); 
}  

#button-about-me {   	
	background-image: url("../images/btn_aboutme.png"); 
}  

.button-border {   	
	border: 13px solid rgba(255,255,255,0.5);   	
	border-radius: 94px; /* leave as px, we always want them to be 94px */   	
	height: 188px;       /* leave as px, we always want them to be 188px */
} 	

.lighter {  
	color: var(--medium-grey); 
}  

.active {   	
	font-weight: 900; 
}